## Deliverable 2. Create a Customer Travel Destinations Map.

In [91]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
from datetime import datetime
from citipy import citipy
import timeit
import json
import matplotlib.pyplot as plt
import requests
from config import weather_api_key
from datetime import datetime
from citipy import citipy

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key = g_key)

In [92]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=2000)
lngs = np.random.uniform(low=-180.000, high=180.000, size=2000)

In [93]:
x = lats
y = lngs

In [94]:
# Unpack the zip in a list 
lat_lngs = zip(lats, lngs)
lat_lngs

In [95]:
# Add the lats and lngs to a list
coordinates = list(lat_lngs)

In [96]:
# Create an empty list to hold the weather data.
city_data = []

# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [97]:
# Get the nearest city using the citipy module
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
coordinates = zip(x, y)
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

741

In [98]:
# Starting URL for Weather Map API Call
url= "https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid=" + weather_api_key

In [ ]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
          
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")
        
    # Log the URL, record, and set numbers and the city
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
       
    #Add 1 to the record count
    record_count += 1
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_country = city_weather["sys"]["country"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        description = city_weather['weather'][0]['description']
        
        # Convert the date to ISO
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        
        # Append the city information to the city_data list
        city_data.append({"City": city.title(),
                          "Country": city_country,
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Description":description })

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

In [100]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,Talnakh,RU,69.4865,88.3972,250.87,70,13,4.04,few clouds
1,Busselton,AU,-33.6500,115.3333,291.51,71,5,5.59,clear sky
2,Dali,CN,25.7000,100.1833,278.18,57,0,1.84,clear sky
3,Bredasdorp,ZA,-34.5322,20.0403,294.97,68,22,5.14,light rain
4,Bluff,NZ,-46.6000,168.3333,279.15,87,11,1.69,few clouds
5,Iqaluit,CA,63.7506,-68.5145,244.09,75,75,1.03,broken clouds
6,Tuktoyaktuk,CA,69.4541,-133.0374,236.15,74,20,1.54,few clouds
7,Yulara,AU,-25.2406,130.9889,295.06,33,0,3.09,clear sky
8,Marawi,PH,7.9986,124.2928,291.29,91,93,1.03,overcast clouds
9,Broken Hill,AU,-31.9500,141.4333,299.99,29,72,5.14,broken clouds

In [ ]:
# Create the output file (CSV).
output_data_file = "Weather_Database/WeatherPy_Database_Challenge_Del2.csv"

#  Export the City_Data into a CSV.
city_data_df = pd.DataFrame(city_data)

#  city_data_df.to_csv(path_or_buf='cities.csv', index_label='City_ID')
city_data_df.to_csv(path_or_buf='WeatherPy_Database_Challenge_Del_2.csv', index_label='City_ID')

### Step 1. Import the WeatherPy_database.csv file.

In [133]:
city_data_df = pd.read_csv('WeatherPy_Database_Challenge_Del_2.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Talnakh,RU,69.4865,88.3972,250.87,70,13,4.04,few clouds
1,1,Busselton,AU,-33.6500,115.3333,291.51,71,5,5.59,clear sky
2,2,Dali,CN,25.7000,100.1833,278.18,57,0,1.84,clear sky
3,3,Bredasdorp,ZA,-34.5322,20.0403,294.97,68,22,5.14,light rain
4,4,Bluff,NZ,-46.6000,168.3333,279.15,87,11,1.69,few clouds

In [134]:
print(city_data_df)

     City_ID        City Country      Lat       Lng  Max Temp  Humidity  \
0          0     Talnakh      RU  69.4865   88.3972    250.87        70
1          1   Busselton      AU -33.6500  115.3333    291.51        71
2          2        Dali      CN  25.7000  100.1833    278.18        57
3          3  Bredasdorp      ZA -34.5322   20.0403    294.97        68
4          4       Bluff      NZ -46.6000  168.3333    279.15        87
..       ...         ...     ...      ...       ...       ...       ...
677      677      Luanda      AO  -8.8368   13.2343    299.15        78
678      678    La Ligua      CL -32.4524  -71.2311    293.03        51
679      679        Yura      PE -16.2522  -71.6797    290.44        45
680      680      Agudos      BR -22.4692  -48.9875    303.29        54
681      681        Jega      NG  12.2175    4.3792    303.10        10

     Cloudiness  Wind Speed       Description
0            13        4.04        few clouds
1             5        5.59         clear sky
2             0        1.84         clear sky
3            22        5.14        light rain
4            11        1.69        few clouds
..          ...         ...               ...
677          20        3.60        few clouds
678           0        4.85         clear sky
679          40        4.12  scattered clouds
680          75        2.06     broken clouds
681          53        4.38     broken clouds

[682 rows x 10 columns]

### Step 2. Prompt the user to enter minimum and maximum temperature criteria

In [138]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

### Step 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

In [139]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [140]:
print(preferred_cities_df)

Empty DataFrame
Columns: [City_ID, City, Country, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Description]
Index: []

### Step 4a. Determine if there are any empty rows.

In [142]:
preferred_cities_df.count()

City_ID        0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

### Step 4b. Drop any empty rows and create a new DataFrame that doesn't have empty rows.

In [143]:
clean_df = preferred_cities_df.dropna()

### Step 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

In [146]:
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
print(hotel_df)

Empty DataFrame
Columns: [City, Country, Max Temp, Lat, Lng]
Index: []

### Step 5b. Create a new column "Hotel Name"

In [147]:
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

Empty DataFrame
Columns: [City, Country, Max Temp, Lat, Lng, Hotel Name]
Index: []

### Step 6a. Set parameters to search for hotels with 5000 meters

In [148]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

### Step 6b. Iterate through the hotel DataFrame.

In [149]:
for index, row in hotel_df.iterrows()

SyntaxError: invalid syntax (Temp/ipykernel_20848/1622804711.py, line 1)

### Step 6c. Get latitude and longitude from DataFrame

In [150]:
lat = row["Lat"]
lng = row["Lng"]
params["location"] = f"{lat},{lng}"

NameError: name 'row' is not defined

### Step 6d. Set up the base URL for the Google Directions API to get JSON data.

In [151]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

### Step 6e. Make request and retrieve the JSON data from the search.

In [152]:
hotels = requests.get(base_url, params=params).json()

### Step 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [156]:
try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.

### Step 7. Drop the rows where there is no Hotel Name.

In [157]:
hotel_df.head(10)
clean_hotel_df = hotel_df.dropna()

### Step 8a.Create the output File (CSV)

In [158]:
# Create the output file (CSV).
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

### Step 8b. Export the City_Data into a csv

In [160]:
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

FileNotFoundError: [Errno 2] No such file or directory: 'Vacation_Search/WeatherPy_vacation.csv'

### Step 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

In [161]:
info_box_template = """

"""

### Step 10a. Get the data from each row and add it to the formatting template and store the data in a list.

In [162]:
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

### Step 10b. Get the latitude and longitude from each row and store in a new DataFrame.

In [163]:
locations = clean_hotel_df[["Lat", "Lng"]]

### Step 11a. Add a marker layer for each city to the map.

### Step 11b. Display the figure